body {
	color: #333;
	background: #f7f7f7;
}

#topbar {
	background: #1a1a1a;
}

#top-logo {
	fill: #f7f7f7;
	vertical-align: middle;
	margin-top: -.2em;
}

#small-brand {
	font-size: 1.5em;
	margin-right: 0.5em;
	padding: 0;
	letter-spacing: 5px;
}

#small-brand:hover {
	background: none;
}

.logo {
	fill: #1f1f1f;
}

#brand {
	color: #000;
	text-align: center;
	font-size: 80px;
	vertical-align: middle;
	letter-spacing: 20px;
	padding-left: 80px;
}

#brand small {
	letter-spacing: 8px;
	margin-top: 0.6em;
	display: block;
	font-size: 24px;
}

#brand-wrapper {
	height: 200px;
	background: url(/grey.png) left top repeat, #123;
}

#brand-wrapper .container {
	vertical-align: middle;
}

.feature {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 60px;
}
