[submodule "rack"]
	path = doc/wiki
	url = git@gitorious.org:panopticum/panopticum-gitorious-wiki.git
[submodule "doc/wiki"]
	path = doc/wiki
	url = git@gitorious.org:panopticum/panopticum-gitorious-wiki.git
