language: rust
rust:
   - stable
   - beta
   - nightly
matrix:
   allow_failure:
      - rust: nightly
sudo: false
addons:
  apt:
    sources:
    - ppa:ubuntu-sdk-team/ppa
    packages:
    - qt5-default
    - qtdeclarative5-dev
    - qtdeclarative5-folderlistmodel-plugin
    - qtdeclarative5-qtquick2-plugin
    - cmake
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev
install: |
  wget https://github.com/SimonKagstrom/kcov/archive/master.tar.gz &&
  tar xzf master.tar.gz && mkdir kcov-master/build && cd kcov-master/build && cmake .. && make &&
  make install && cd ../..
after_success: |
  kcov --coveralls-id=$TRAVIS_JOB_ID --exclude-pattern=/.cargo target/kcov target/debug/*panopticon-*
