Source: panopticon
Maintainer: seu <seu@panopticon.re>
Build-Depends: debhelper (>= 9.0), cdbs (>= 0.4.93~), dh-exec (>= 0.3), cmake (>= 2.8.9), libarchive-dev (>= 3.1.2), libkyotocabinet-dev (>= 1.2.76), libboost-dev (>= 1.53.0), libboost-graph-dev (>= 1.53.0), libboost-filesystem-dev (>= 1.53.0), libboost-system-dev (>= 1.53.0), python-sphinx, qtdeclarative5-dev
Homepage: http://panopticon.re/
Priority: optional
Standards-Version: 3.9.5.0
Section: editors

Package: libpanopticon0
Architecture: amd64 i386
Description: Library for Panopticon
 Provides routines and data structures for binary program analysis.
Depends: libkyotocabinet16 (>= 1.2.76), libarchive13 (>= 3.1.2), ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Priority: optional
Section: libs

Package: qtpanopticon
Architecture: amd64 i386
Description: Qt 5 frontend of Panopticon
 Graphical interface for browsing and manipulating binary programs.
Depends: libkyotocabinet16 (>= 1.2.76), libarchive13 (>= 3.1.2), ${misc:Depends}, ${shlibs:Depends}, libqt5core5a (>= 5.0.0), libqt5widgets5 (>= 5.0.0), libqt5concurrent5 (>= 5.0.0), libqt5declarative5 (>= 5.0.0),  qtdeclarative5-folderlistmodel-plugin, qtdeclarative5-settings-plugin, libpanopticon0, ${dist:Depends}
Priority: optional
Section: editors

Package: libpanopticon-dev
Architecture: any
Multi-Arch: same
Description: Header files Panopticon
 Developer package for the panopticon library.
Depends: ${misc:Depends}
Priority: optional
Section: libdevel

Package: panopticon-doc
Architecture: all
Multi-Arch: foreign
Description: API and usage documentation for Panopticon
 Documents the internals of the panopticon library.
Depends: ${misc:Depends}
Priority: optional
Section: doc
